@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  font-family: 'Roboto', Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #343541;
  border-radius: 5px;
  background-color: #343541;
  overflow-y: auto;
}

.messages {
  flex: 1; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #343541;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #343541;
  color: #fff;
}

.message.user {
  text-align: right;
}

.message.assistant {
  text-align: left;
}

.input-row {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #343541; 
  border-radius: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.message-input {
  flex: 1;
  display: flex;
  align-items: center;
}

.message-input .input-container {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: #454654;
  margin-right: 10px;
}

.message-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #454654;
  color: white;
  font-family: 'Roboto', Arial, sans-serif;
}

.message-input .send-button {
  width: 45px;
  height: 45px;
  padding: 0;
  border: none;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius: 50%; 
  background-color: #454654;
  color: #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-input .send-button.recording {
  background-color: #454654;
  color: #ed3c47ed;
}

.message-input .send-button:hover {
  background-color: #454654;
  color: white;
}

input[type="text"]::placeholder {
  color: white; 
}

input[type="text"]:focus {
  outline: none;
}

button:enabled {
  cursor: pointer; 
  background-color: #454654;
  color: white;
}

button:enabled:hover {
  color: white;
}

button:disabled {
  background-color: #454654;
  color: #b3b3b3; 
}

button:disabled:hover {
  background-color: #454654;
  color: #b3b3b3;
}

.speed-dial-wrapper {
  position: relative;
  padding-bottom: 60px; 
}

.speed-dial {
  width: 45px;
  height: 45px;
  margin-left: 8px;
}

.speed-dial .MuiSpeedDial-fab {
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0; 
  background-color: #454654;
  border-radius: 50%;
  box-shadow: none; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.speed-dial .MuiSpeedDial-fab:hover {
  background-color: black;
  color: white;
}

.speed-dial:hover .MuiSpeedDial-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.switches-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #343541;
  border-bottom: 1px solid #454654;
  text-align: left;
}

.switch-label {
  display: flex;
  align-items: center;
}

.switch-label span {
  font-size: 14px;
  color: white;
}

.label-with-icon {
  display: flex;
  align-items: center;
  font-size: 0.875rem; 
  text-align: left;
}

.switch-icon {
  margin-right: 4px;
  color: white;
}

.help-icon {
  margin-left: 4px;
  color: #b3b3b3;
  cursor: pointer;
  text-align: left;
}

/* Responsive styles */
@media (max-width: 600px) {
  .App {
    max-width: 100%;
    padding: 10px;
  }

  .chat-container {
    border: none;
    border-radius: 0;
    padding: 10px 0;
  }

  .switches-container {
    padding: 5px;
    text-align: left;
  }

  .switch-label {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .label-with-icon {
    font-size: 0.75rem;
    text-align: left;
  }

  .help-icon {
    text-align: left;
  }

  .speed-dial-wrapper {
    padding-bottom: 40px; 
  }

  .speed-dial {
    width: 35px;
    height: 35px; 
    margin-left: 5px;
  }

  .speed-dial .MuiSpeedDial-fab {
    width: 35px;
    height: 35px;
  }

  .speed-dial .MuiSpeedDialIcon-root {
    font-size: 20px;
  }

  .input-row {
    padding: 5px; 
  }

  .message-input .send-button {
    width: 35px;
    height: 35px;
  }

  .message-input .input-container {
    margin-right: 5px; 
  }

  .message-input input[type="text"] {
    font-size: 0.875rem; 
    padding: 8px;
  }
}
