@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  font-family: 'Roboto', Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #343541;
  border-radius: 5px;
  background-color: #343541;
}

.messages {
  flex: 1; 
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #343541; 
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #343541;
  color: #fff;
}

.message.user {
  text-align: right;
}

.message.assistant {
  text-align: left;
}

.message-input {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #454654; 
  border-top: 1px solid #000;
  border-radius: 0 0 5px 5px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #454654;
  color: white;
  font-family: 'Roboto', Arial, sans-serif;
  border: 1px solid #000;
}

input[type="text"]::placeholder {
  color: white; 
}

button {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 0 5px 5px 0;
  background-color: #454654;
  color: #b3b3b3;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
}

button:enabled {
  cursor: pointer; 
  background-color: #454654;
  color: white;
}

button:enabled:hover {
  background-color: black; 
  color: white;
}

button:disabled {
  background-color: #454654;
  color: #b3b3b3; 
}

button:disabled:hover {
  background-color: #454654;
  color: #b3b3b3;
}